<div class="d-flex justify-content-center">
  <h1>Rent a guitar!</h1>
</div>

<div class="container">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-md-4">
        <div class="card-list my-2 p-2">
          <%= link_to listing.name, listing_path(listing) %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="card-guitar">
  <% @listings.each do |listing| %>
    <div class="card-guitar-infos">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
    </div>
    <h2 class="card-guitar-pricing">£99.99</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>