<h1>All Bookings</h1>

<%# <% @bookings.each do |booking| %>
  <!-- with the booking card here -->
  <%# show all the bookings for the seller %>
  <%# user.first_name, user.last_name, booking.rent_start, booking.rent_end %>
<%# <% end %>
