<h1>New Booking</h1>
<br>
<h2>What you are booking:</h2>
<%# <%= "#{@listing}%> %>
<br>
<h2>When you are booking:</h2>

<br>
<h2>Payment details:</h2>
<p>Enter your bank details so we can take everything...</p>
<br>

<p>confirm button!</p>


<%# <div class="container">
  <%= link_to "Go back to listing", listing_path(@listing), class: "btn btn-primary" %>
<%# </div> %> %>
