<h1>Single Booking</h1>

<p>Your booking is pending...</p>

<p>Details for booking</p>
<p><strong>Listing:</strong> <%= @booking.listing %></p>
<p><strong>Status:</strong> <%= @booking.status %></p>

<p>Link to all bookings</p>
