<div class="d-flex justify-content-center">
  <h1>Your Bookings</h1>
</div>

<div class="column d-flex justify-content-center">
  <div class="card" style="width: 90%; padding: 10px; display: block; margin-bottom: 20px; border: 2px solid black;">
    <div class="new-guitar-container">
      <p>Your booking is pending...</p>

      <p>Details for booking</p>
      <p><strong>Listing:</strong> <%= @booking.listing %></p>
      <p><strong>Status:</strong> <%= @booking.status %></p>

      <%= link_to "See all bookings", bookings_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
