<div class="banner-image">
  <div class="banner-text">
    <h1 style="font-family: Perpetua;"><strong>Welcome to Fretfiesta!</strong></h1>
    <p>Rent a guitar today!</p>
    <%= link_to "Find a guitar", listings_path, class: "btn btn-custom", style: "background-color: #696969; color: white; font-weight: bold;" %>
  </div>
</div>
<p></p>
<footer>
  <div class="social-icons" style="text-shadow: 2px 2px 5px grey; font-size: 30px; margin-left: 20px; text-color: black;">
    <a href="#"><i class="fab fa-facebook-f" style="color: black; margin-right: 18px;"></i></a>
    <a href="#"><i class="fab fa-twitter" style="color: black; margin-right: 18px;"></i></a>
    <a href="#"><i class="fab fa-instagram" style="color: black; margin-right: 18px;"></i></a>
  </div>
</footer>
