<div class="container">
  <div class="banner-home">
    <h1>Welcome to Fretfiesta!</h1>
    <p>Rent a guitar today!</p>
    <%= link_to "Find a guitar", listings_path, class: "btn btn-gradient" %>
  </div>
</div>
